<% content_for :title, "ユーザー登録" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">ユーザー登録</h1>

  <%= render "form", user: @user %>
  <%= button_to "Sign in with Facebook", user_google_oauth2_omniauth_authorize_path, data: { turbo: false } %>

  <%= link_to "ユーザー一覧", users_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
